@model MVCStore.Models.Account[] 

<h1>Accounts</h1>

<table class="table">
    <tr>
        <th>UserName</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Date Of Birth</th>
        <th>Membership Type</th>
    </tr>
    @foreach (var account in Model)
    {
    <tr>
        <td>@account.UserName</td>
        <td>@account.Holder.FirstName</td>
        <td>@account.Holder.SecondName</td>
        <td>@account.Holder.DateOfBirth.Date</td>
        <td>@account.Membership</td>
    </tr>

    }


</table>

